@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
	--dark-color-a: #d1e8f1;
	--dark-color-b: #d1e8f1;
	--light-color: #e2eef3;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
   font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  overflow: hidden;
}

body {
	 font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	background: #e2eef3;
	margin: 20px;
  overflow: hidden;
}

ul {
	list-style: none;
   font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
   font-family: 'Quicksand', sans-serif;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: #47C1FF;
	border: 0;
	font-size: 17px;
   font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #d1e8f1;
	margin: 30px auto;
	overflow: hidden;
   font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
}

::placeholder {
  color: #47C1FF;
}

.chat-header {
	background: var(--dark-color-a);
	color: #47C1FF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
 font-family: 'Quicksand', sans-serif;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
 font-family: 'Quicksand', sans-serif;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #47C1FF;
	padding: 20px 20px 60px;
	overflow-y: scroll;
 font-family: 'Quicksand', sans-serif;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
 font-family: 'Quicksand', sans-serif;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
 font-family: 'Quicksand', sans-serif;
}

.chat-sidebar ul li {
	padding: 10px 0;
 font-family: 'Quicksand', sans-serif;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
 font-family: 'Quicksand', sans-serif;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
 font-family: 'Quicksand', sans-serif;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #47C1FF;
	opacity: 0.7;
	margin-bottom: 7px;
 font-family: 'Quicksand', sans-serif;
}

.chat-messages .message .meta span {
	color: #47C1FF;
 font-family: 'Quicksand', sans-serif;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
 font-family: 'Quicksand', sans-serif;
  border:none;
}

.chat-form-container form {
	display: flex;
 font-family: 'Quicksand', sans-serif;
  border:none;
}
-webkit-scrollbar {
  display: none;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
 font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
  border: none;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #47C1FF;
 font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
 font-family: 'Quicksand', sans-serif;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
 font-family: 'Quicksand', sans-serif;
}

.join-main p {
	margin-bottom: 20px;
 font-family: 'Quicksand', sans-serif;
}

.join-main .form-control {
	margin-bottom: 20px;
 font-family: 'Quicksand', sans-serif;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
 font-family: 'Quicksand', sans-serif;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
 font-family: 'Quicksand', sans-serif;
  border: none;
  border-radius: 8px;
  color: #47C1FF;
  background: #e2eef3;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
 font-family: 'Quicksand', sans-serif;
  border: none;
  border-radius: 8px;
  color: #47C1FF;
  background: #e2eef3;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
 font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
 font-family: 'Quicksand', sans-serif;
	}

	.chat-sidebar {
		display: none;
 font-family: 'Quicksand', sans-serif;
	}
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }
